.navBar {
  display: flex;
  gap: 20px;
  height: 50px;
  align-items: center;
  background-color: rgb(109, 117, 226);
  padding-left: 10px;
}

.navLink {
  background-color: white;
  color: rgb(87, 85, 85);
  padding: 3px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.4s;
}

.navLink:global.active{
  background-color: rgb(165, 165, 165);
  color: white;
}

.navLink:hover{
  background-color: rgb(165, 165, 165);
  color: white;
}
